{% extends 'Hotel/base.html' %}
{% load Hotel_tags %}

{% block content %}

<h1>Содержимое страницы об Отеле</h1>

<p>Здесь можно найти нашу контактую информацию, контактный номер, почта и наше местоположение.</p>

<p>Интересующие вопросы можно задать по телефону или аписать нам на почту.</p>

<p>Почта: ...</p>

<p>Контактный телефон:  ...
                        ...</p>

<p>Где мы располагаемся: ...</p>

<!--<p>У нас можно оплатить следующими методами: </p>

<ul>
    {% get_pay_method %}
</ul>

<p>Имеются следуюющие типы комнат: </p>
<ul>
    {% for r in rooms %}
        <li>{{ r.type }}</li>
    {% endfor %}
</ul>-->

{% endblock content %}